.container {
  background-color: aliceblue;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: fit-content;
  max-height: fit-content;
  /* transform: scale(1); */
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 0 0.6rem 0.6em rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  background-color: rgb(211, 211, 211);
}

.hiden {
  display: none !important;
}
.intro {
  display: inline-block;
  max-width: 21rem;
  max-height: fit-content;
  color: #666e76;
  align-self: center;
}
.name {
  display: inline-block;
  color: #1a1a1d;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 1rem;
}
.card-container-column {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.rubro {
  font-size: small;
  color: #666e76;
}

.rubros {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 8rem;
}

.img-name-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
