.container {
  background-color: aliceblue;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: fit-content;
  max-height: fit-content;
}
.intro {
  display: inline-block;
  max-width: 21rem;
  max-height: fit-content;
  color: #666e76;
  align-self: center;
}
.name {
  display: inline-block;
  color: #1a1a1d;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 1rem;
}
.card-container-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rubro {
  font-size: small;
  color: #666e76;
}

.rubros {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 8rem;
}

.img-name-container-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
