.fila {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.container-menu-comp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.hiden{
  display: none !important;
}
.container-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.container-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.sing-in {
  color: #fff;
  background-color: #007bff;
}
.sing-in:hover {
  color: #007bff;
  border-color: #007bff;
  background-color: #fff;
}

@media (max-width: 768px) {
  .fila {
    flex-direction: column;
    align-items: center;
  }

  .container-menu-comp {
    gap: 0.5rem;
  }

  .container-options {
    align-items: center;
  }

  .container-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }
}