.profile-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.basic-card {
  display: flex;
}
.basic-info {
  display: flex;
  flex-direction: column;
}
.photo-profile-container {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.photo-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9b64f5;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rubro,
.tel,
.email,
.intro {
  font-size: 16px;
  margin-bottom: 5px;
}

.modal {
  position: fixed;
  width: 46rem;
  height: 35em;
  color: #181717;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: #ffffffe6;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  bottom: 10px;
  right: 10px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form-inputs-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.form-inputs {
  display: flex;
  width: 26rem;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.intro-input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid #007bff;
  background-color: #807dc848;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: black;
  width: 30rem;
  height: 8rem;
}
.input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid #007bff;
  background-color: #807dc848;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: black;
}

.boton {
  color: #ffffff;
  bottom: 10px;
  right: 10px;
}

.span-alert {
  color: #f00d0d;
  width: 20rem;
  align-self: center;
  padding: 0.5rem;
}