.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  color: rgba(242, 146, 43, 0.984);
  font-size: 40px;
  width: 100%;
}


.parrafo {
  width: 80%;
}

.image {
  width: 100%;
}
.nav{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:15px;
}
.tablaFila{
  display: flex;
  justify-content: center;
}

.tabla{
  display: flex;
  flex-direction: column;
  border-width: 4px;
  border-style: solid;
  border-color: rgba(172, 0, 0, 0.302);
  border-radius: 30px;
  width: 62rem;
  gap: 15px;
  justify-content: space-evenly;
  /* background-color: rgb(251, 12, 12); */
}

.fila0{
  display: flex;
  gap : 15px;
  justify-content: space-evenly;
  background-color: rgb(221, 12, 12);
}

.fila1{
  display: flex;
  gap : 15px;
  justify-content: space-evenly;
}

.historia{
  border-width: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 30px;
  width: 25rem;
  background-color: rgba(255, 255, 255, 0.528);
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(143, 88, 29, 0.984);
}

.fila2{
  display: flex;
  gap : 15px;
  justify-content: space-evenly;
}
.fila3{
  display: flex;
  gap : 15px;
  justify-content: space-evenly;
}
.titulo{
  font-weight: bold;
  color:rgba(188, 111, 28, 0.984);
}
@media (min-width: 320px) and (max-width: 480px) {
  .parrafo {
    width: 100%;
  }
  .fila1{
    display: flex;
    flex-direction: column;
  }
  .fila2{
    display: flex;
    flex-direction: column;
  }
  .fila3{
    display: flex;
    flex-direction: column;
  }
  .tabla{
    height: 80rem;
  }
}