.contenedor {
  display: flex;
  width: 4.5rem;
  height: 2rem;
  padding: 6px 6px 7px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: hsla(300, 1%, 84%, 0.577);
  margin-top: 0.7rem;
  background-color: rgba(137, 43, 226, 0.767);
}

.text {
  font-size: 1em;
  width: 70px;
  text-align: center;
  color: #fffefe;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Inter-Bold", Helvetica;
  line-height: normal;
}

.contenedor:hover .text {
  color: #f5e8e8;
}
.contenedor:hover {
  background-color: rgba(137, 43, 226, 0.767);
}
