.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.logoYNombre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.centro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}
.cont {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.imagen {
  width: 100px; 
  height: 100px;
}
.tituloh1 {
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  color: rgba(242, 146, 43, 0.984);
  font-size: 60px;
  transition: text-shadow 300ms ease-out;
}
.tituloh1:hover {
  text-shadow: 30px 30px 0px rgba(0, 0, 0, 0.3);
}
