form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 15px;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  background-color: #007bff;
}

/* Ajustes para los formularios de Sign In y Sign Up */
form:nth-child(1) {
  margin-right: 10px;
}
