.form-component {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 1rem;
}

.input,
.textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #007bff;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.span-alert {
  color: #f00d0d;
  width: 15rem;
  align-self: center;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-container {
    width: 100%
  }
  .form-component {
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-color: #dddddd;
  }
  .input {
    width: 13rem;
  }
  .textarea {
    width: 13rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .label {
    width: 80%;
  }
}
