.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  .label {
    margin-bottom: 10px;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  .form-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    position: relative;
  }
  

  .span-alert {
    color: #f00d0d;
    width: 20rem;
    align-self: center;
    padding: 0.5rem;
  }
  