.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 400px;
  border-radius: 30px;
  overflow: hidden;
  align-self: center;
}
.contenedorImagen {
  width: 100px;
  height: 150px;
  overflow: hidden;
  position: relative;
  /* Posicionamos el contenedor como relativo */
}
.imagen {
  width: 100%;
  height: 100%;
}
.imagen:hover {
  width: 110px;
  height: 160px;
  filter: blur(4px);
  transition: all 0.5s ease-in-out;
}
.texto {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
  /* Incluimos el relleno dentro del ancho del texto */
  visibility: visible;
}

@media (min-width: 320px) and (max-width: 480px) {
  .contenedor {
    height: 9rem;
    width: 23rem;
  }
}
