.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo {
  color: white;
}

.photo-profile-container {
  position: relative;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 0.1rem solid;
  border-color: aliceblue;
  overflow: hidden;
  display: flex;
}

.photo {
  margin-top: 0px;
  width: 100%;
  object-fit: cover;
}

.photo:hover {
  transform: scale(2); /* Puedes ajustar el valor según tu preferencia */
  transition: all 2s;
}
@media screen and (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  /* Por ejemplo: */

  .photo-profile-container {
    height: 5rem;
    width: 5rem;
  }
  /* Otros ajustes necesarios para la adaptabilidad en dispositivos móviles */
}
