.button {
  color: #007bff;
  /* background-color: #fff; */
  border: 2px solid #007bff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  align-self: center;
}

.button:hover {
  color: #fff;
  background-color: #007bff;
}
